<h1>Créer un commentaire</h1>
<%= form_tag url_for(action: 'create'), method: "post" do %>
	<!--input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"-->
  <!--input type="text" name="gossip_text"-->
  <!--input type="submit" value="Valider"-->
  <%= label_tag 'Content' %>
  <%= text_area_tag 'content', @comment.content %>
  <br /> <br />
  <%= submit_tag "Create Comment" %>
<% end %>
