<h1>Viens, ça va être bien</h1>
<%= form_tag url_for(action: 'create'), method: "post" do %>
	<%= label_tag 'FirstName' %>
	<%= text_field_tag 'first_name' %>
	<br /> <br />
	<%= label_tag 'Last Name' %>
	<%= text_field_tag 'last_name' %>
	<br /> <br />
	<%= label_tag 'Description' %>
	<%= text_area_tag 'description' %>
	<br /> <br />
  <%= label_tag 'Email' %>
  <%= text_field_tag 'email' %>
  <br /> <br />
  <%= label_tag 'Password' %>
  <%= text_field_tag 'password' %>
  <br /> <br />
  <%= label_tag 'Age' %>
	<%= number_field_tag 'age', nil, in: 18...99 %>
	<br /> <br />
	<%= label_tag 'City' %>
	<%= text_field_tag 'city' %>
	<br /> <br />
  <%= submit_tag "Sign Up" %>
<% end %>

<% if @user.errors.any? %>
  <p>Nous n'avons pas réussi à créer le profile pour la (ou les) raison(s) suivante(s) :</p>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
