<h1>Page de : <%= @user.first_name %></h1>
<p>Identifiant Auteur.e : <%= @user.id %></p>
<p>Prénom : <%= @user.first_name %></p>
<p>Nom : <%= @user.last_name %></p>
<p>description : <%= @user.description %></p>
<p>Email : <%= @gossip.user.email %></p>
<p>Age : <%= @gossip.user.age %></p>
<p>Ville : <%= @user.city.name %></p>
