<h1>Page de : <%= @user.first_name %></h1>
<p>Identifiant Auteur.e : <%= @user.id %></p>
<p>Prénom : <%= @user.first_name %></p>
<p>Nom : <%= @user.last_name %></p>
<p>Âge : <%= @user.age %></p>
<p>Desciption : <%= @user.description %></p>
<p>Ville : <%= @user.city.name %></p>
