<h1>Gossip n°<%= @gossip.id %></h1>
<p>Auteur.e : <%= @author.first_name %> | <%= link_to "clique ici", profile_path(@author.id) %> pour voir sa page</p>
<p>Titre : <%= @gossip.title %></p>
<p>Contenu : <%= @gossip.content %></p>
<p>Date : <%= @gossip.created_at %></p>
